#comp {
  padding: 1%;
}

.comp-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 2%;
  font-size: 200%;
  color: #61dafb;
  background-color: #202020;
  padding: 5px;
}

.comp-container {
  display: flex;
  justify-content: space-around;
  margin: 100px 5% 80px 4%;
}

.front-comp-container {
  display: flex;
  flex-direction: column;
}

.back-comp-container {
  display: flex;
  flex-direction: column;
}

.tools-comp-container {
  display: flex;
  flex-direction: column;
}

.comp-list {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.individual-comp-list {
  border-radius: 3px;
  background-color: #282c34;
  color: #61dafb;
  width: 380px;
  padding: 10px 0 10px 40px;

}

@media (max-width: 1400px) {
  .comp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .comp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .individual-comp-list {
    border: 2px solid black;
    background-color: #202020;
    color: #61dafb;
    width: 200px;
    padding: 10px;
  }
  .comp-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 2%;
    font-size: 110%;
    color: #61dafb;
    background-color: #202020;
    padding: 5px;
  }
  .svg{
    margin-right: 5%;
    width: 30px;
    filter: invert(70%) sepia(55%) saturate(587%) hue-rotate(163deg) brightness(103%) contrast(97%);
  }
}

.svg{
  margin-right: 1%;
  width: 30px;
  filter: invert(70%) sepia(55%) saturate(587%) hue-rotate(163deg) brightness(103%) contrast(97%);
}