h2 {
  font-size: 170%
}

.navbar-title h2:hover {
  color: white;
}

.navbar-container {
  border: 1px solid black;
  display: flex;
  height: 7vh;
  border-bottom: 2px solid #61dafb;
  position: fixed;
  z-index: 6;
  width: 100%;
}

.navbar-menu {
  width: 75%;
  display: flex;
  justify-content: space-around;
  padding-left: 40%;
  align-items: center;
  background-color: #282c34;
  color: #61dafb;
}

.navbar-menu button {
  margin: 5px;
  width: 30%;
  height: 30px;
  border: 2px solid #61dafb;
  color: #61dafb;
  background-color: #202020;
  align-items: flex-end;
}

.navbar-title {
  width: 33%;
  padding-left: 1vw;
  display: flex;
  align-items: center;
  background-color: #282c34;
  color: #61dafb;
}


.menu-option {
  font-size: 18px;
}

.menu-option:hover {
  color: white;
}

.button-cv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  margin-top: 5px;
  padding: 5px;
  height: 25px;
  width: 200px;
  border: 2px solid #61dafb;
  border-radius: 3px;
  color: #61dafb;
  background-color: #202020;
  text-decoration: none;
}

.button-cv:hover {
  background-color: #282c34;
  color: white;
}

.button-cv p {
  display: flex;
  justify-content: center;
  align-items: center;

}

.menu-a {
  text-decoration: none;
  color: #61dafb;
}



@media (max-width: 1200px) {
  .navbar-menu {
    width: 75%;
    display: flex;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 1%;
    align-items: center;
    background-color: #282c34;
    color: #61dafb;
  }
}

@media (max-width: 1000px) {
  .navbar-menu {
    width: 75%;
    display: flex;
    justify-content: space-around;
    padding-left: 1%;
    padding-right: 1%;
    align-items: center;
    background-color: #282c34;
    color: #61dafb;
  }

  h2 {
    font-size: 120%
  }

  .menu-option {
    font-size: 15px;
  }

  .button-cv {
    height: 25px;
    width: 150px;

  }
}

@media (max-width: 700px) {
  .navbar-container {
    display: none;
  }

  .hidden-navbar-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    z-index: 6;
  }

  .hidden-nav-menu {
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: #282c34;
    color: #61dafb;
    border-bottom: 2px solid #61dafb;
  }

  .menu-button-container {
    display: flex;

  }

  .menu-button-container-after {
    width: 100%;
    display: flex;
    background-color: white;
  }

  .menu-button-after {
    width: 14%;
  }

  .menu-button {
    width: 14%;
  }

}

@media (min-width: 700px) {
  .hidden-nav-container {
    display: none;
  }
}